# Dynamic Libraries
*.dll
*.dylib
*.so

# Static Libraries
*.a
*.lib

# Precompiled Headers
*.pch
*.gch

# Executables
*.exe
*.out
*.app

# Project Specific
compile_commands.json
build/
.vscode/
.xmake/
.clangd
.DS_Store
.cache/

# IDE specific files
.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
